.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  display: flex;
  flex-direction: column;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.label {
  align-self: end;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 6rem;
}
.input {
  margin-right: 0.5rem;
  border-radius: 5px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
